<div class="card">
  <div class="card-body">
    <p class="card-text">Status posted by: {{this.user.username}} on {{format_date this.date_posted}}</p>
    <p class="card-text">{{this.content}}</p>
  </div>
</div>