<div class="container-fluid row justify-content-center mx-auto my-3">
  <div class="col-md-5 my-3">
    <form class="signup-form">
      <h4 class="text-info text-center">Sign Up</h4>
      <div class="form-group row">
        <label for="username-signup">Username</label>
        <input
          class="form-control fadeInRight"
          type="text"
          id="username-signup"
          placeholder="Username"
        />
      </div>
      <div class="form-group row">
        <label for="email-signup">Email</label>
        <input
          class="form-control backInDown"
          type="email"
          id="email-signup"
          placeholder="Email"
        />
      </div>
      <div class="form-group row">
        <label for="password-signup">Password</label>
        <input
          class="form-control fadeInLeft"
          type="password"
          id="password-signup"
          placeholder="Password"
        />
      </div>
      <div class="text-center">
        <button class="btn btn-primary lightSpeedLeft" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>