<div class="d-flex">
  <div class="container ms-5">
    <div class="card">
      <div class="mb-3">
        <br />
        <label for="add-pet-name" class="form-label">Pet Name</label>
        <input
          class="form-control form-control-lg tada"
          id="add-pet-name"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-pet-image" class="form-label">Image</label>
        <input
          class="form-control"
          id="add-pet-image"
          type="file"
          accept="image/*"
        />
        <br />
        <label for="add-pet-type">Type:</label>
        <select id="add-pet-type" name="add-pet-type">
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="bird">Bird</option>
          <option value="other">Other</option>
        </select>
        <br />
        <label for="add-pet-breed" class="form-label">Breed</label>
        <input
          class="form-control rollIn"
          id="add-pet-breed"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-pet-age" class="form-label">Age</label>
        <input
          class="form-control lightSpeedLeft"
          id="add-pet-age"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-pet-date-added" class="form-label">Date Missing</label>
        <input
          class="form-control rotIn"
          id="add-pet-date-added"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-pet-description" class="form-label">Description</label>
        <input
          class="form-control lightSpeedRight"
          id="add-pet-description"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-last-seenLocation" class="form-label">Last Seen Location</label>
        <input
          class="form-control"
          id="add-last-seenLocation"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-pet-owner-name" class="form-label">Owner Name</label>
        <input
          class="form-control flipIn"
          id="add-pet-owner-name"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-pet-owner-phone" class="form-label">Owner Phone</label>
        <input
          class="form-control fadeIn"
          id="add-pet-owner-phone"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-pet-owner-email" class="form-label">Owner Email</label>
        <input
          class="form-control fadeInRight"
          id="add-pet-owner-email"
          type="text"
          placeholder=""
        />
        <br />
        <label for="add-pet-reward" class="form-label">Reward</label>
        <input
          class="form-control fadeInLeft"
          id="add-pet-reward"
          type="text"
          placeholder=""
        />

      </div>
      <br />
      <button
        class="rubberBand btn btn-primary mb-3 mx-3"
        id="add-pet"
        style="width:min-content; padding: .75rem;"
        type="submit"
      >Submit</button>
    </div>
  </div>
</div>

<script src="/js/addpet.js"></script>