<div class="d-flex">
    <div class="container ms-5">
        <div class="card">
            <div class="mb-3">
                <br>
                <label for="add-pet-name" class="form-label">Pet Name</label>
                <input class="form-control form-control-lg" id="add-pet-name" type="text" placeholder="">
                <br>
                <br>
                <label for="add-pet-type" class="form-label">Type of Pet</label>
                <input class="form-control" id="add-pet-type" type="text" placeholder="">
                <br>
                <label for="add-pet-breed" class="form-label">Breed</label>
                <input class="form-control" id="add-pet-breed" type="text" placeholder="">
                <br>
                <label for="add-pet-age" class="form-label">Age</label>
                <input class="form-control" id="add-pet-age" type="text" placeholder="">
                <br>
                <label for="add-pet-date-added" class="form-label">Date Missing</label>
                <input class="form-control" id="add-pet-date-added" type="text" placeholder="">
                <br>
                <label for="add-pet-description" class="form-label">Description</label>
                <input class="form-control" id="add-pet-description" type="text" placeholder="">
                <br>
                <label for="add-pet-owner-name" class="form-label">Owner Name</label>
                <input class="form-control" id="add-pet-owner-name" type="text" placeholder="">
                <br>
                <label for="add-pet-owner-phone" class="form-label">Owner Phone</label>
                <input class="form-control" id="add-pet-owner-phone" type="text" placeholder="">
                <br>
                <label for="add-pet-owner-email" class="form-label">Owner Email</label>
                <input class="form-control" id="add-pet-owner-email" type="text" placeholder="">
                <br>
                <label for="add-pet-reward" class="form-label">Reward</label>
                <input class="form-control" id="add-pet-reward" type="text" placeholder="">

            </div>
            <br>
            <button class="btn btn-primary mb-3 mx-3" id="add-pet" style="width:min-content; padding: .75rem;"
                type="submit">Submit</button>
        </div>
    </div>
</div>

<script src="/js/addpet.js"></script>