<div class="d-flex">
    <div class="card">
        <div class="card-header">
            <a>Add Status</a>
        </div>
        <div class="card-body p-3 mb-3">
            <input type="text" class="form-control my-3" id="status-content" placeholder="Enter status here.">
            <button class="btn btn-primary mt-3" id="add-status" style="width:min-content; padding: .5rem;"
                type="submit">Submit</button>
        </div>
    </div>
</div>

<script src="/js/addStatus.js"></script>