<h2>No Results Found</h2>
<p>Please enter a new search term to search again.</p>
  <form
    id="input"
    class="form-inline my-2 my-lg-0 d-flex justify-content-center"
  >
    <input
      id="searchfield"
      class="form-control mr-sm-2"
      type="search"
      placeholder="search by pet's name"
      aria-label="search"
    />
    <button
      id="searchbutton"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >search</button>
  </form>

  <script src="/js/search.js"></script>