<div class="d-flex">
    <div>
        <h2>My Profile</h2>
        <br>
        <a href="/profile/addPet" type="button" class="flipIn btn btn-primary me-4 mt-2 mb-2">Post New
            Lost Pet</a>
    </div>
</div>
<div class="container">
    <br>
    <h4>My Lost Pet Posts</h4>
    <br>
    {{#each pets as |pet|}}
    {{> pet-details}}
    <a href='/profile/updatePet/{{id}}' class="edit-post-btns btn btn-primary mb-3 mx-3" id="edit-post-button"
        style="width: 30%; padding: 3px;" type="submit">Edit Pet</a>
    {{#each pet.statuses as |petStatus|}}
        {{> pet-status}}
    {{/each}}
    {{/each}}
</div>